{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100 mdl-js">

  <head>
    <link rel="shortcut icon" href="https://vk.com/doc83674128_489077489?hash=e2d485e981c10a9326&dl=a2182cc512032a4b03" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>7bz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop-homepage.css' %}">




  </head>

  <body class="d-flex flex-column h-100">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">

        <a class="navbar-brand" href="/"> <img class="d-block img-fluid" src="{% static 'logo/logo.JPG' %}" alt=""  href="/" style=" height:50px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link open_shop" href="/shop/?category=all">Продукция
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li class="nav-item ">
              <a class="nav-link" href="/uslugi">Услуги
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li class="nav-item ">
              <a class="nav-link" href="/contacts">Адресс
                <span class="sr-only">(current)</span>
              </a>
            </li>
               <li class="nav-item ">
              <a class="nav-link" href="mailto:nfo@7bz.ru">info@7bz.ru
                <span class="sr-only">(current)</span>
              </a>
            </li>
               <li class="nav-item ">
              <a class="nav-link" href="tel:+74959716840">+7(495)971-68-40
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li class="nav-item ">
              <a class="nav-link" href="tel:+74959235693">+7(495)923-56-93
                <span class="sr-only">(current)</span>
              </a>
            </li>
<!--
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  data-hover="dropdown" href="/contacts" role="button" aria-haspopup="true" aria-expanded="false">Контакты</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="mailto:nfo@7bz.ru">info@7bz.ru</a>
                    <a class="dropdown-item" href="tel:+74959716840">+7(495)971-68-40</a>
                    <a class="dropdown-item" href="tel:+74959235693">+7(495)923-56-93</a>

                  </div>
             </li> -->

          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Обратная связь</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

    {%block content%}
    <!-- Page Content -->

    {% endblock content%}
    <!-- /.container -->

    <!-- Footer -->
    <footer class=" py-0 pt-0 footer mt-auto">
        <div class="dk-footer-copyright">
            <div class="container">
                <p class="mb-0">7БЦ</p>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->


  <script src="{% static 'js/jquery.js' %} "></script>
  <script src="{% static 'js/bootstrap.bundle.js' %} "></script>
  <script src="{% static 'js/script.js' %} "></script>
  <script src="{% static 'js/bootstrap.js' %} "></script>



  </body>

</html>
