{% extends 'base.html'%}

{%block content%}
<div class="container mt-4">
    <div class="row mt-4">
        {%block category_list%}
        <div class="col-lg-3">
            <div class="list-group" id="category">
                <a href="/shop/?category=all" class="list-group-item list-group-item-action" id="category" >Все</a>
                {% for category in categories %}
                <a href="{{category.get_absolute_url}}" class="list-group-item list-group-item-action" >{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        {%endblock category_list%}
        <!-- /.col-lg-3 -->
        {%block product_list%}
        <div class="col-lg-9" >
            <div class="row" id="product_list" >
                {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4" >
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ product.image}}" alt="" "alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{product.get_absolute_url}}">{{ product.title }}</a>
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
        {%endblock product_list%}
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
{%endblock content%}