{% extends 'base.html'%}
{% load static %}
{%block content%}
<div class="container pt-5 hr  mt-5 ">
    <h1 class="display-4">Как это делается?</h1>
    <div class="row  pt-md-5">
        <div class="col-lg-6 order-12 mt-4">
            <div class="s-steps__block pb-6 ">
                <div class="s-steps__counter sb-font-title sb-font-h4">
                    <div class="s-steps__circle sb-color-border">1</div>
                </div>
                <div class="s-steps__text">
                    <h3>Печатаете тираж<br></h3>
                    <h5  class="text-muted  mb-auto">Оказываем помощь в подготовке спусков, даем размеры и чертежи изделий</h5>
                </div>
            </div>
             <div class="s-steps__block pb-6">
                <div class="s-steps__counter sb-font-title sb-font-h4">
                    <div class="s-steps__circle sb-color-border">2</div>
                </div>
                <div class="s-steps__text">
                    <h3>Привозите тираж к нам<br></h3>
                    <h5 class="text-muted  mb-auto">Не забудьте прислать техзадание на почту</h5>
                </div>
            </div>
             <div class="s-steps__block">
                <div class="s-steps__counter sb-font-title sb-font-h4">
                    <div class="s-steps__circle sb-color-border">3</div>
                </div>
                <div class="s-steps__text">
                    <h3>Забираете готовый заказ<br></h3>
                    <h5 class="text-muted  mb-auto">Работа склада 7 дней в неделю с 9.00 - 20.00</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-12 mt-4">
            <img src="{% static 'pic/123.jpeg' %}" class="img-fluid" alt='' >
        </div>
    </div>
</div>


<div class="container pt-5 hr  mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{% static 'pic/shityo.jpeg' %}">
                    </div>
                    <div class="col-lg-12">
                        <div class="record-text">
                            <h2>Шитье на нитку</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>2 полностью автоматические ниткошвейные машины Aster, с автоматической подачей и приемкой тетрадей с производительностью до 40 000 тетрадей в смену каждая.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  d-flex  flex-column p-0">
            <!--<div class="row m-0">-->
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-6">
                            <img class="img-fluid w-100" src="{% static 'pic/shityo2.jpeg' %}">
                        </div>
                        <div class="col-xl-6">
                            <div class="record-text">
                                <h2>Формат шитья</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Максимальный формат 320х420 мм
Минимальный формат
150х90 мм</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container sb-hidden-desktop mt-auto">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img class="img-fluid w-100" src="{% static 'pic/shityo3.jpeg' %}">
                        </div>
                        <div class="col-lg-6">
                            <div class="record-text">
                                <h2>Преимущества</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Высокая производительность Возможность работы с альбомным спуском Контроль отсутствия и двойного листа</p>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- </div>-->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-hidden-desktop-lg-min  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4  ">
                        <img class="img-fluid w-100" src="{% static 'pic/shityo3.jpeg' %}">
                    </div>
                    <div class=" col-lg-8 col-md-8 ">
                        <div class="record-text">
                            <h2>Преимущества</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>Высокая производительность Возможность работы с альбомным спуском Контроль отсутствия и двойного листа</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 hr mt-5">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{% static 'pic/krishki.jpeg' %}">
                    </div>
                    <div class="col-lg-12">
                        <div class="record-text">
                            <h2>Изготовление переплетных крышек</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>Три крышкоделательные машины, максимальная производительность до 5000 крышек в смену</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  d-flex  flex-column p-0">
            <!--<div class="row m-0">-->
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-6">
                            <img class="img-fluid" src="{% static 'pic/krishki2.jpeg' %}">
                        </div>
                        <div class="col-xl-6">
                            <div class="record-text">
                                <h2>Виды крышек</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Подставки под календарь-домик<br>
                                    Твердые крышки для блокнотов на навивке<br>
                                    Крышки для ежедневников <br>Гибкие крышки</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container sb-hidden-desktop mt-auto">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img class="img-fluid w-100" src="{% static 'pic/krishki3.jpeg' %}">
                        </div>
                        <div class="col-lg-6">
                            <div class="record-text">
                                <h2>Крышки с круглыми углами</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Возможна дополнительная просторочка ниткой</p>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- </div>-->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-hidden-desktop-lg-min  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4  ">
                        <img class="img-fluid w-100" src="{% static 'pic/krishki3.jpeg' %}">
                    </div>
                    <div class=" col-lg-8 col-md-8 ">
                        <div class="record-text">
                            <h2>Крышки с круглыми углами</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>Возможна дополнительная просторочка ниткой</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 hr mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid w-100" src="{% static 'pic/korobki1.jpeg' %}">
                    </div>
                    <div class="col-lg-12">
                        <div class="record-text">
                            <h2>Сборка коборбок</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>Полуавтоматическая линия по сборке обклейных коробок Формат до 200х550х300 мм. Производительность до 5000 шт. в смену</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  d-flex  flex-column p-0">
            <!--<div class="row m-0">-->
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-6">
                            <img class="img-fluid" src="{% static 'pic/korobki2.jpeg' %}">
                        </div>
                        <div class="col-xl-6">
                            <div class="record-text">
                                <h2>Вырубка</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Тигельный пресс Максимальный формат до 1040х720 мм До 5000 листов в смену</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container sb-hidden-desktop mt-auto">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img class="img-fluid w-100" src="{% static 'pic/korobki3.jpeg' %}">
                        </div>
                        <div class="col-lg-6">
                            <div class="record-text">
                                <h2>Тиснение</h2>
                                <div class="record-text-h1-sep"></div>
                                <p>Тигельный пресс
Максимальный формат до 720х520 мм
До 5000 листов в смену</p>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- </div>-->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-hidden-desktop-lg-min  p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4  ">
                        <img class="img-fluid w-100" src="{% static 'pic/korobki3.jpeg' %}">
                    </div>
                    <div class=" col-lg-8 col-md-8 ">
                        <div class="record-text">
                            <h2>Преимущества</h2>
                            <div class="record-text-h1-sep"></div>
                            <p>Тигельный пресс Максимальный формат до 720х520 мм До 5000 листов в смену</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 hr mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-xl-3">
            <div class="row">
                <div class="col-xl-6">
                    <img class="img-fluid" src="{% static 'pic/kbs.jpeg' %}">
                </div>
                <div class="col-xl-6">
                    <div class="record-text">
                        <h2>КБС</h2>
                        <p>Клеевое бесшейное скрепление брошюр До 5000 брошюр в смену Формат до 315х420 мм</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-xl-3">
            <div class="row">
                <div class="col-xl-6">
                    <img class="img-fluid" src="{% static 'pic/faltsovka.jpeg' %}">
                </div>
                <div class="col-xl-6">
                    <div class="record-text">
                        <h2>Фальцовка тетрадей</h2>
                        <p>До 150 тыс. буклетов в смену До 60 тыс тетрадей в смену Максимальный формат 78х108 см</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-6">
                    <img class="img-fluid" src="{% static 'pic/trehstor.jpeg' %}">
                </div>
                <div class="col-xl-6">
                    <div class="record-text">
                        <h2>Трехсторонняя резка</h2>
                        <p>Две автоматические трехсторонние резальные машины До 10 000 брошюр в смену</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xl-6">
                    <img class="img-fluid" src="{% static 'pic/podbor.jpeg' %}">
                </div>
                <div class="col-xl-6">
                    <div class="record-text">
                        <h2>Подборка тетрадей</h2>
                        <p>21 секция Формат до 320х420 мм До 10 000 блоков в смену</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock content%}